._720kb-datepicker-calendar {
	width: 50%;
}

.search-form {
	margin-bottom: 10px;
}

.search-form datepicker {
	width: auto;
	padding: 1px;
}

.search-form label {
	float: left;
	margin-right: 5px;
}

.search-form input {
	padding: 2px 4px;
    width: 80%;
}