<div class="animated fadeIn">
     <div class="row">
     	<div class="col-lg-12">
     		<h3>Account Create</h3>
     		<div class="card clearfix">
              <div class="card-header">
                  <strong>Account</strong>
                  <small>create</small>
              </div>
              <div class="card-block ">
                <form name="form" ng-submit="saveAccount(form)" role="form">
                  <div class="form-group">
                      <label for="user_name">User Name</label>
                      <input name="user_name" type="text" class="form-control" id="user_name" ng-model="account.user_name"  placeholder="Enter your user name">
                  </div>

                  <div class="form-group">
                    <label for="program_id">Select Program</label>

                    <select class="form-control" id="program_id" name="program_id" ng-init="account.program_id=''" ng-model="account.program_id">
                      <option value="">Select Program..</option>
                      <option ng-repeat="programs in programList" value="{{programs.id}}">{{programs.name}}</option>
                    </select>
                  </div>

                  <div class="form-group">
                      <label for="password">Password</label>
                      <input name="password" type="password" class="form-control" id="password" ng-model="account.password" placeholder="Password">
                  </div>

                  <div class="form-group">
                      <label for="email">Email</label>
                      <input name="email" type="email" class="form-control" id="email" ng-model="account.email" placeholder="Email">
                  </div>

                  <div class="form-group">
                      <label for="first_name">First Name</label>
                      <input name="first_name" type="text" class="form-control" id="first_name" ng-model="account.first_name"  placeholder="Enter first name">
                  </div>

                  <div class="form-group">
                      <label for="last_name">Last Name</label>
                      <input name="last_name" type="text" class="form-control" id="last_name" ng-model="account.last_name"  placeholder="Enter Last name">
                  </div>

                  <div class="form-group clearfix">
                    <label for="dob">Date Of Birth</label>
                    <datepicker date-format="yyyy-MM-dd" selector="form-control">
                      <input ng-model="account.dob" type="text" class="form-control" name="dob" id="dob" placeholder="Enter your date of birth"/>
                    </datepicker>
                  </div>

                  <div class="form-group">
                      <label for="mobile">Mobile Number</label>
                      <input name="mobile" type="text" class="form-control" id="mobile" ng-model="account.mobile"  placeholder="Enter Mobile Number">
                  </div>

                  <div class="form-group">
                      <label for="address">Address</label>
                      <input name="address" type="text" class="form-control" id="address" ng-model="account.address"  placeholder="Enter Address">
                  </div>

                  <div class="form-group">
                      <label for="suburb">Suburb</label>
                      <input name="suburb" type="text" class="form-control" id="suburb" ng-model="account.suburb"  placeholder="Enter Suburb">
                  </div>

                  <div class="form-group">
                      <label for="state">State</label>
                      <input name="state" type="text" class="form-control" id="state" ng-model="account.state"  placeholder="Enter State">
                  </div>

                  <div class="form-group">
                      <label for="post_code">Post Code</label>
                      <input name="post_code" type="text" class="form-control" id="post_code" ng-model="account.post_code"  placeholder="Enter Post Code">
                  </div>

                  <div class="form-group">
                      <label for="country">Country</label>
                      <input name="country" type="text" class="form-control" id="country" ng-model="account.country"  placeholder="Enter Country">
                  </div>

                  <div class="row">
                      <div class="col-6">
                          <button type="submit" class="btn btn-primary px-4" >Save</button>
                      </div>
                  </div>
                </form>
              </div>
          </div>
     	</div>
    </div>
</div>