<div class="animated fadeIn">

     <div class="row">
        <div class="col-lg-12">
        	<h3>Deals</h3>
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Deals List

                    <button type="button" class="btn btn-outline-success pull-right" ui-sref="app.deals.create"><i class="fa fa-plus"></i> Create</button>
                </div>
                <div class="card-block">

                    <form class="search-form">
                        <div class="row">
                            <div class="col-4">
                                <label for="search">Search :</label>
                                <input type="text" name="search"  ng-model="search" placeholder="ID, Name, Email..">
                            </div>
                        </div>
                    </form>
        
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Image</th>
                                <th>Expiry</th>
                                <th>Deal Url</th>
                                <th>Redeemed</th>
                                <th>Status</th>
                                <th class="text-center" width="15%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  dir-paginate = "deals in dealList | filter: search | itemsPerPage: pageSize" current-page="currentPage" pagination-id="dealsPagination" >
                                <td>{{deals.id}}</td>
                                <td>{{ deals.name }}</td>
                                <td>
                                    <img width="50%" ng-if="deals.image != 'null'" src="{{ deals.image }}" />
                                    <img width="50%" ng-if="deals.image == 'null'" src="http://ipsumimage.appspot.com/100?l=30px&s=30" />
                                </td>
                                <td>{{ deals.days + 'days, ' + deals.hours + ' hours, ' + deals.minutes  + ' minutes' }}</td>
                                <td>test.com</td>
                                <td>123 times</td>
                                <td>
                                    <span class="badge badge-success" ng-if="deals.status == 1">Active</span>
                                    <span class="badge badge-danger" ng-if="deals.status == 0">In Active</span>
                                </td>
                                <td>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="nav-link" href="javascript:;" ng-click="editDeals(deals.id)" >
                                                <i class="icon-note"></i>  
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="nav-link" href="javascript:;" ng-click="deleteDeals(deals.id)">
                                                <i class="icon-trash"></i>  
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="../../bower_components/angularUtils-pagination/dirPagination.tpl.html" pagination-id="dealsPagination"></dir-pagination-controls>
                    <!-- <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Prev</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">Next</a>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
</div>