<div class="animated fadeIn">

     <div class="row">
        <div class="col-lg-12">
        	<h3>Members</h3>
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Members List

                    <button type="button" class="btn btn-outline-success pull-right" ui-sref="app.members.create"><i class="fa fa-plus"></i> Create</button>
                </div>
                <div class="card-block">

                    <form class="search-form">
                        <div class="row">
                            <div class="col-4">
                                <label for="search">Search :</label>
                                <input type="text" name="search"  ng-model="search" placeholder="ID, Name, Email..">
                            </div>
                        </div>
                    </form>
        
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Organisation</th>
                                <th>Member Number</th>
                                <th>Date registered</th>
                                <th>Status</th>
                                <th class="text-center" width="15%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr   dir-paginate = "members in memberList | filter: search | itemsPerPage: pageSize" current-page="currentPage" pagination-id="memberPagination">
                                <td>{{members.id}}</td>
                                <td>{{ members.first_name + ' ' + members.last_name }}</td>
                                <td>{{ members.email }}</td>
                                <td>Sportspass</td>
                                <td>{{ members.member_number }}</td>
                                <td>{{ members.created_at }}</td>
                                <td>
                                    <span class="badge badge-success" ng-if="members.status == 1">Active</span>
                                    <span class="badge badge-danger" ng-if="members.status == 0">In Active</span>
                                </td>
                                <td>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="nav-link" href="javascript:;" ng-click="editMember(members.id)" >
                                                <i class="icon-note"></i>  
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="nav-link" href="javascript:;" ng-click="deleteMember(members.id)">
                                                <i class="icon-trash"></i>  
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="../../bower_components/angularUtils-pagination/dirPagination.tpl.html" pagination-id="memberPagination"></dir-pagination-controls>
                    <!-- <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Prev</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">Next</a>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
</div>