<div class="animated fadeIn">

     <div class="row">
        <h1>DASHBOARD</h1>
    </div>
    
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="card card-inverse card-primary" ng-controller="cardChartCtrl1">
                <div class="card-block pb-0">
                    <div class="btn-group float-right">
                        <button type="button" class="btn btn-transparent dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-settings"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                    <h4 class="mb-0">{{ totalAccounts }}</h4>
                    <p>Active Members</p>
                </div>
                <div class="chart-wrapper px-3" style="height:70px;">
                    <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="colors" height="70"></canvas>
                </div>
            </div>
        </div>
        <!--/.col-->

        <div class="col-sm-6 col-lg-3">
            <div class="card card-inverse card-info" ng-controller="cardChartCtrl2">
                <div class="card-block pb-0">
                    <button type="button" class="btn btn-transparent p-0 float-right">
                        <i class="icon-location-pin"></i>
                    </button>
                    <h4 class="mb-0">{{ totalClubMembers }}</h4>
                    <p>Club Members</p>
                </div>
                <div class="chart-wrapper px-3" style="height:70px;">
                    <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="colors" height="70"></canvas>
                </div>
            </div>
        </div>
        <!--/.col-->

        <div class="col-sm-6 col-lg-3">
            <div class="card card-inverse card-warning" ng-controller="cardChartCtrl3">
                <div class="card-block pb-0">
                    <div class="btn-group float-right">
                        <button type="button" class="btn btn-transparent dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-settings"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                    <h4 class="mb-0">{{ totalCardsCreated }}</h4>
                    <p>Cards Created</p>
                </div>
                <div class="chart-wrapper" style="height:70px;">
                    <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="colors" height="70"></canvas>
                </div>
            </div>
        </div>
        <!--/.col-->

        <div class="col-sm-6 col-lg-3">
            <div class="card card-inverse card-success" ng-controller="cardChartCtrl4">
                <div class="card-block pb-0">
                    <div class="btn-group float-right">
                        <button type="button" class="btn btn-transparent dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-settings"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                    <h4 class="mb-0">{{ totalMembersOnline }}</h4>
                    <p>Members online</p>
                </div>
                <div class="chart-wrapper px-3" style="height:70px;">
                    <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-options="options" chart-colors="colors" height="70"></canvas>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
    <div class="row">
        <div class="col-md-6">
            <h4>Latest Account Created</h4>
            <div class="card">
                <div class="card-body">

                    <table class="table table-hover table-outline mb-0 d-md-down-none">
                        <thead class="thead-light">
                          <tr>
                            <th class="text-center"><i class="icon-people"></i></th>
                            <th>User</th>
                            <th>Activity</th>
                            <th class="text-center"><i class="icon-settings"></i></th>
                          </tr>
                        </thead>
                        <tbody class="ng-scope">
                          <tr  class="ng-scope">
                            <td class="text-center">
                              <div class="avatar">
                                <img ng-src="img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" src="img/avatars/1.jpg">
                                <span class="avatar-status badge-success" ></span>
                              </div>
                            </td>
                            <td>
                              <div class="ng-binding">Yiorgos Avraamu</div>
                              <div class="small text-muted ng-binding">
                                <span ng-if="user.new == true" class="ng-scope">New</span>
                                | Registered: Jan 1, 2015</div>
                            </td>
                            <td>
                              <div class="small text-muted">Last login</div>
                              <strong class="ng-binding">10 sec ago</strong>
                            </td>
                            <td class="text-center">
                              <button type="button" class="btn btn-link text-muted"><i class="icon-settings"></i></button>
                            </td>
                          </tr><!-- end ngRepeat: user in users -->
                        </tbody>
                    </table>
                </div>
           </div>
        </div>
        <div class="col-md-6">
            <h4>Latest Card Created</h4>
            <div class="card">
                <div class="card-body">
                    
                    <table class="table table-hover table-outline mb-0 d-md-down-none">
                        <thead class="thead-light">
                          <tr>
                            <th class="text-center"><i class="icon-people"></i></th>
                            <th>Member</th>
                            <th>Sports</th>
                            <th class="text-center"><i class="icon-settings"></i></th>
                          </tr>
                        </thead>
                        <tbody class="ng-scope">
                          <tr  class="ng-scope">
                            <td class="text-center">
                              <div class="avatar">
                                <img ng-src="img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" src="img/avatars/1.jpg">
                                <span class="avatar-status badge-success" ></span>
                              </div>
                            </td>
                            <td>
                              
                            </td>
                            <td>
                              
                            </td>
                            <td class="text-center">
                              <button type="button" class="btn btn-link text-muted"><i class="icon-settings"></i></button>
                            </td>
                          </tr><!-- end ngRepeat: user in users -->
                        </tbody>
                    </table>
                </div>
           </div>
        </div>
    </div>
 <!--    <div class="row">
        <div class="col-md-6" ng-controller="DashboardController">
            
            <ul>
                <li ng-repeat="label in dashboard.labels">{{ label }}</li>
            </ul>

        </div>
    </div> -->

</div>
