<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a>
            </li>

            <li class="divider"></li>
            <li class="nav-title">
                Modules
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:;" ui-sref="app.account"><i class="icon-people"></i> Accounts </a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="javascript:;" ui-sref="app.banners"><i class="icon-picture"></i> Banners </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:;" ui-sref="app.category"><i class="icon-list"></i> Category </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:;" ui-sref="app.clubs"><i class="icon-badge"></i> Clubs </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:;" ui-sref="app.deals"><i class="icon-star"></i> Deals </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:;" ui-sref="app.members"><i class="icon-user-follow"></i> Members </a>
            </li>

            <li class="divider"></li>
            <li class="nav-title">
                Settings
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="javascript:;" ui-sref="app.program"><i class="icon-screen-desktop"></i> Program </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:;" ui-sref="app.user"><i class="icon-settings"></i> CMS Users </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:;" ui-sref="app.settings"><i class="icon-settings"></i> Settings </a>
            </li>

        </ul>
    </nav>
</div>
