<div class="animated fadeIn">
     <div class="row">
     	<div class="col-lg-12">
        	<h3>Banners</h3>
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Banners List

                    <button type="button" class="btn btn-outline-success pull-right" ui-sref="app.banners.create" ><i class="fa fa-plus"></i> Create</button>
                </div>
                <div class="card-block">
                    <form class="search-form">
                        <div class="row">
                            <div class="col-4">
                                <label for="search">Search :</label>
                                <input type="text" name="search"  ng-model="search" placeholder="Name..">
                            </div>
                        </div>
                    </form>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="text-center" width="10%">Display Type</th>
                                <th class="text-center" width="15%">Banner Image</th>
                                <th class="text-center" width="10%">Show Hot Offer</th>
                                <th class="text-center" width="10%">Show Home Page</th>
                                <th class="text-center" width="10%">Status</th>
                                <th class="text-center" width="10%">Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr dir-paginate = "banners in bannerList | filter: search | itemsPerPage: pageSize" current-page="currentPage" pagination-id="bannerPagination">
                                <!-- Banner Show Options -->
                                <td ng-if="banners.type == 'all_pages'">All Page</td>
                                <td ng-if="banners.type == 'home_page'">Home Page</td>
                                <td ng-if="banners.type == 'shop_in_store'">Shop In Store</td>
                                <td ng-if="banners.type == 'shop_experiences'">Shop Experience</td>
                                <td ng-if="banners.type == 'shop_local'">Shop Local</td>
                                <!-- End -->

                                <td>
                                    <img width="30%" src="{{ banners.image }}" class="img-responsive" style="" ng-if="banners.image">
                                    <img width="30%" src="http://ipsumimage.appspot.com/100?l=30px&s=30" class="img-responsive" style="" ng-if="banners.image == ''">
                                </td>
                                <td>
                                  <label class="switch switch-text switch-pill switch-success">


						           <input type="checkbox" class="switch-input" ng-true-value="1" ng-if="banners.is_hot_offer == 1" ng-model="banners.is_hot_offer" />
                                    <input type="checkbox" class="switch-input" ng-false-value="1" ng-if="banners.is_hot_offer == 0" ng-model="banners.is_hot_offer" />

						            <span class="switch-label" data-on="On" data-off="Off"></span>
						            <span class="switch-handle"></span>
						          </label>
    							</td>
						        <td>
                                  <label class="switch switch-text switch-pill switch-success">
                                   <input type="checkbox" class="switch-input" ng-true-value="1" ng-if="banners.is_home_page == 1" ng-model="banners.is_home_page" />
                                    <input type="checkbox" class="switch-input" ng-false-value="1" ng-if="banners.is_home_page == 0" ng-model="banners.is_home_page" />
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                  </label>
    							</td>
                                <td>
                                    <span class="badge badge-success" ng-if="banners.status == 1">Active</span>
                                    <span class="badge badge-danger" ng-if="banners.status == 0">In Active</span>
                                </td>
                                <td>
                                	<ul class="list-inline">
                                		<li class="list-inline-item">
		                                	<a class="nav-link" href="javascript:;" ng-click="editBanner(banners.id)">
		                                		<i class="icon-note"></i>  
		                                	</a>
	                                	</li>
	                                	<li class="list-inline-item">
		                                	<a class="nav-link" href="javascript:;" ng-click="deleteBanner(banners.id)">
		                                		<i class="icon-trash"></i>  
		                                	</a>
	                                	</li>
                                	</ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="../../bower_components/angularUtils-pagination/dirPagination.tpl.html" pagination-id="bannerPagination"></dir-pagination-controls>
                    <!-- <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Prev</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">Next</a>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
</div>