<div class="animated fadeIn">
     <div class="row">
     	<div class="col-lg-12">
        	<h3>Banners</h3>
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Banners List
                </div>
                <div class="card-block">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="text-center" width="10%">Display Type</th>
                                <th class="text-center" width="15%">Banner Image</th>
                                <th class="text-center" width="10%">Show Hot Offer</th>
                                <th class="text-center" width="10%">Show Home Page</th>
                                <th class="text-center" width="10%">Status</th>
                                <th class="text-center" width="10%">Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr>
                                <td>All Page</td>
                                <td><img width="30%" src="https://s3-ap-southeast-2.amazonaws.com/cashrewardglobal/assets/uploads/CustomBanner/1508305137_mcdonald%27s-coffee-300x250.png" class="img-responsive" style=""></td>
                                <td>
                                  <label class="switch switch-text switch-pill switch-success">
            						            <input type="checkbox" class="switch-input" checked="">
            						            <span class="switch-label" data-on="On" data-off="Off"></span>
            						            <span class="switch-handle"></span>
          						            </label>
                							  </td>
      							            <td>
                                  <label class="switch switch-text switch-pill switch-success">
            						            <input type="checkbox" class="switch-input" checked="">
            						            <span class="switch-label" data-on="On" data-off="Off"></span>
            						            <span class="switch-handle"></span>
          						            </label>
                							  </td>
                                <td>
                                    <span class="badge badge-success">Active</span>
                                </td>
                                <td>
                                	<ul class="list-inline">
                                		<li class="list-inline-item">
		                                	<a class="nav-link" href="javascript:;" >
		                                		<i class="icon-note"></i>  
		                                	</a>
	                                	</li>
	                                	<li class="list-inline-item">
		                                	<a class="nav-link" href="javascript:;" >
		                                		<i class="icon-trash"></i>  
		                                	</a>
	                                	</li>
                                	</ul>
                                </td>
                            </tr>
                            <tr>
                                <td>All Page</td>
                                <td><img width="30%" src="https://s3-ap-southeast-2.amazonaws.com/cashrewardglobal/assets/uploads/CustomBanner/1508305797_amf-bowling-%281%29--300x250.jpg" class="img-responsive" style=""></td>
                                <td>
                                  <label class="switch switch-text switch-pill switch-success">
						            <input type="checkbox" class="switch-input" checked="">
						            <span class="switch-label" data-on="On" data-off="Off"></span>
						            <span class="switch-handle"></span>
						          </label>
      							</td>
      							<td>
                                  <label class="switch switch-text switch-pill switch-success">
						            <input type="checkbox" class="switch-input" checked="">
						            <span class="switch-label" data-on="On" data-off="Off"></span>
						            <span class="switch-handle"></span>
						          </label>
      							</td>
                                <td>
                                    <span class="badge badge-danger">Banned</span>
                                </td>
                                <td>
                                	<ul class="list-inline">
                                		<li class="list-inline-item">
		                                	<a class="nav-link" href="javascript:;" >
		                                		<i class="icon-note"></i>  
		                                	</a>
	                                	</li>
	                                	<li class="list-inline-item">
		                                	<a class="nav-link" href="javascript:;" >
		                                		<i class="icon-trash"></i>  
		                                	</a>
	                                	</li>
                                	</ul>
                                </td>
                            </tr>
                            <tr>
                                <td>All Page</td>
                                <td><img width="30%" src="https://s3-ap-southeast-2.amazonaws.com/cashrewardglobal/assets/uploads/CustomBanner/1508373544_experience-oz-300x250.jpg" class="img-responsive" style=""></td>
                                <td>
                                  <label class="switch switch-text switch-pill switch-success">
						            <input type="checkbox" class="switch-input" checked="">
						            <span class="switch-label" data-on="On" data-off="Off"></span>
						            <span class="switch-handle"></span>
						          </label>
      							</td>
      							<td>
                                  <label class="switch switch-text switch-pill switch-success">
						            <input type="checkbox" class="switch-input" checked="">
						            <span class="switch-label" data-on="On" data-off="Off"></span>
						            <span class="switch-handle"></span>
						          </label>
      							</td>
                                <td>
                                    <span class="badge badge-default">Inactive</span>
                                </td>
                                <td>
                                	<ul class="list-inline">
                                		<li class="list-inline-item">
		                                	<a class="nav-link" href="javascript:;" >
		                                		<i class="icon-note"></i>  
		                                	</a>
	                                	</li>
	                                	<li class="list-inline-item">
		                                	<a class="nav-link" href="javascript:;" >
		                                		<i class="icon-trash"></i>  
		                                	</a>
	                                	</li>
                                	</ul>
                                </td>
                            </tr>
                            <tr>
                                <td>All Page</td>
                                <td><img width="30%" src="https://s3-ap-southeast-2.amazonaws.com/cashrewardglobal/assets/uploads/CustomBanner/1508306445_mcdonalds-sundae-300x250.png" class="img-responsive" style=""></td>
                                <td>
                                  <label class="switch switch-text switch-pill switch-success">
						            <input type="checkbox" class="switch-input" checked="">
						            <span class="switch-label" data-on="On" data-off="Off"></span>
						            <span class="switch-handle"></span>
						          </label>
      							</td>
      							<td>
                                  <label class="switch switch-text switch-pill switch-success">
						            <input type="checkbox" class="switch-input" checked="">
						            <span class="switch-label" data-on="On" data-off="Off"></span>
						            <span class="switch-handle"></span>
						          </label>
      							</td>
                                <td>
                                    <span class="badge badge-warning">Pending</span>
                                </td>
                                <td>
                                	<ul class="list-inline">
                                		<li class="list-inline-item">
		                                	<a class="nav-link" href="javascript:;" >
		                                		<i class="icon-note"></i>  
		                                	</a>
	                                	</li>
	                                	<li class="list-inline-item">
		                                	<a class="nav-link" href="javascript:;" >
		                                		<i class="icon-trash"></i>  
		                                	</a>
	                                	</li>
                                	</ul>
                                </td>
                            </tr>
                            <tr>
                                <td>All Page</td>
                                <td><img width="30%" src="https://s3-ap-southeast-2.amazonaws.com/cashrewardglobal/assets/uploads/CustomBanner/1508305137_mcdonald%27s-coffee-300x250.png" class="img-responsive" style=""></td>
                                <td>
                                  <label class="switch switch-text switch-pill switch-success">
						            <input type="checkbox" class="switch-input" checked="">
						            <span class="switch-label" data-on="On" data-off="Off"></span>
						            <span class="switch-handle"></span>
						          </label>
      							</td>
      							<td>
                                  <label class="switch switch-text switch-pill switch-success">
						            <input type="checkbox" class="switch-input" checked="">
						            <span class="switch-label" data-on="On" data-off="Off"></span>
						            <span class="switch-handle"></span>
						          </label>
      							</td>
                                <td>
                                    <span class="badge badge-success">Active</span>
                                </td>
                                <td>
                                	<ul class="list-inline">
                                		<li class="list-inline-item">
		                                	<a class="nav-link" href="javascript:;" >
		                                		<i class="icon-note"></i>  
		                                	</a>
	                                	</li>
	                                	<li class="list-inline-item">
		                                	<a class="nav-link" href="javascript:;" >
		                                		<i class="icon-trash"></i>  
		                                	</a>
	                                	</li>
                                	</ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Prev</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
</div>